////
/// @group emory-libraries.patterns.templates.material
////

/// Defines the base skin of the material component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-materials: (
    'layout': (
        'x': $layout-x,
        'y': $layout-y
    ),
);

/// Defines the material component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The material component's themeable properties
@mixin templates-materials--theme ($skin) {

    // Capture themeable variables from skin.
    // ...
    $layout: map-deep-get($skin, 'layout');

    // Defines the material component's base styles.
    // ...

    &-sidebar {
        border: $border-width-s solid color('slate')
    }

    &-header,
    &-footer {
        border: $border-width-s solid color('slate')
    }

}
