////
/// @group emory-libraries.patterns.templates.material
////

/// Defines the base structure of the material component.
///
/// @since 1.0.0-dev.0
%templates-materials {

    // Builds the material structure.
    // ...
    $selector: &;

    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 150px 1fr 420px;
    grid-template-columns: 1fr;

    &-header {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: 'Header';
        }
    }

    &-main {
        grid-area: main;
    }

    &-footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: 'Footer';
        }
    }
}
