////
/// @group emory-libraries.patterns.compounds.utility-list
////

/// Defines the base skin of the utility-list component.
///
/// @since 1.0.0
///
/// @type map
$compounds-utility-list: (
  
  'icon': 25px,
  
  'padding': 25px,
  'spacing': 5px,
  
  //'context': color('blue'),
  'title': color('blue'),
  
  'background': color('slate', 'light'),

  'border': (
    'offset': 25px,
    'thickness': $border-width-s,
    'color': tint(color('charcoal'), 80%)
  )
  
);

/// Defines the utility-list component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The utility-list component's themeable properties
@mixin compounds-utility-list--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $padding: map-deep-get($skin, 'padding');
  $spacing: map-deep-get($skin, 'spacing');
  $title: map-deep-get($skin, 'title');
  $icon: map-deep-get($skin, 'icon');
  $background: map-deep-get($skin, 'background');
  
  // Get border-specific variables.
  $border-thickness: map-deep-get($skin, 'border.thickness');
  $border-color: map-deep-get($skin, 'border.color');
  $border-offset: map-deep-get($skin, 'border.offset');
  
  // Defines the utility-list component's base styles.
  padding: $padding;
  margin: $border-offset;
  background-color: $background;
  @include layered-border($border-thickness solid $border-color, $border-offset solid $background);
  
  // Defines utility list's title styles.
  &-title {
    @include tokens-heading('h4', $title !important);
    
    .icon {
      height: $icon;
      margin-right: $spacing;
      
      svg {
        fill: $title;
      }
      
    }
    
  }
  
  // Defines utility list's list styles.
  &-list { 
    @include margin-y( $padding );
  
    // Defines utility list's list item styles.
    &-item { 
      @include molecules-utility-list-item((padding: $padding));
    }
    
  }
  
}