////
/// @group emory-libraries.patterns.molecules.explorer
////

/// Defines the base skin of the explorer component.
///
/// @since 1.0.0
///
/// @type map
$molecules-explorer: (
  
  'background': color('blue', 'mid'),
  'heading': $color-text-light,
  'context': color('gold'),
  'padding': 30px,
  'gap': 10px,
  'border': (
    'color': rgba(color('slate', 'light'), .3),
    'offset': 15px,
    'thickness': $border-width-s
  ),
  'link': (
    'normal': color('slate', 'light'),
    'hover': $color-text-light,
    'active': $color-text-light
  )
  
);

/// Defines the explorer component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The explorer component's themeable properties
@mixin molecules-explorer--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $background: map-deep-get($skin, 'background');
  $context: map-deep-get($skin, 'context');
  $heading: map-deep-get($skin, 'heading');
  $link: map-deep-get($skin, 'link');
  $padding: map-deep-get($skin, 'padding');
  $gap: map-deep-get($skin, 'gap');
  
  // Get border-specific variables.
  $border-color: map-deep-get($skin, 'border.color');
  $border-offset: map-deep-get($skin, 'border.offset');
  $border-thickness: map-deep-get($skin, 'border.thickness');
  
  // Defines the explorer component's base styles.
  grid-gap: $gap;
  padding: $padding;
  background-color: $background;
  margin: $border-offset;
  @include layered-border($border-thickness solid $border-color, $border-offset solid $background);
  @include tokens-text('body-alt');
  
  // Defines styles for explorer context.
  &-context { 
    @include tokens-heading('h6', $context);
  }
  
  // Defines styles for explorer heading.
  &-heading { 
    @include tokens-heading('h4', $heading);
    font-weight: bold;
  }
  
  // Defines styles for explorer list.
  &-list { 
  
    // Defines styles for explorer list item.
    &-item {
      @include margin-y( $gap );
    }
  
  }
  
  // Defines styles for explorer link.
  &-link {
    @include atoms-link((
      color: $link,
      weight: normal
    ));
  }
  
}