@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-path}/icomoon.eot');
  src:  url('#{$icomoon-path}/icomoon.eot#iefix') format('embedded-opentype'),
    url('#{$icomoon-path}/icomoon.ttf') format('truetype'),
    url('#{$icomoon-path}/icomoon.woff') format('woff'),
    url('#{$icomoon-path}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}