////
/// @group emory-libraries.patterns.tokens.heading
////

/// Defines the base structure of the heading component.
///
/// @since 1.0.0
%tokens-heading {

  // Capture selector.
  $selector: &;

  // Builds the heading structure.
  // ...

  // Hide the anchor unless explicitly declared.
  .anchor {
    display: none;
  }

  // Builds the heading anchor structure.
  &.is-anchored {

    .anchor {
      display: inline-flex;
      align-items: center;

      .icon {
        margin: 0 !important;
      }

    }

  }

}
