////
/// @group emory-libraries.patterns.organisms.intro
////

/// Defines the base structure of the intro component.
///
/// @since 1.0.0
%organisms-intro {
  
  // Builds the intro structure.
  // ...
  
  // Builds the intro context structure.
  &-context {
    display: block;
    
    // Modifies structure when used for a heading intro.
    &.-heading {
      display: none;
    }
    
  }
  
  // Builds the intro title structure.
  &-title { 
    
    &:not(.-heading) {
      margin: 0;
    }
    
    // Modifies structure when used for a heading intro.
    &.-heading {
      margin-top: 0;
    
      &::before,
      &::after {
        content: '';
        display: block;
        @include absolute( null 0 -.67em 0 );
        margin: 0 auto;
      }
    
    }
    
  }
  
  // Builds the intro subtitle structure.
  &-subtitle { 
  
    // Modifies structure when used for a heading intro.
    &.-heading {
      display: none;
    }
  
  }
  
}