////
/// @group emory-libraries.patterns.atoms.link
////

/// Defines the base structure of the link component.
///
/// @since 1.0.0
%atoms-link {
  
  // Builds the link structure.
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  
  &::after {
    content: attr(data-subtext);
    display: block;
  }
  
  // Builds structure for link icons.
  .icon {
    @include absolute-center-contents(true);
  }
  
}