////
/// @group emory-libraries.patterns.tokens.layout
////

/// Defines the base skin of the layout component.
///
/// @since 1.0.0
///
/// @type map
$tokens-layout: (

  'x': $layout-x,
  'y': $layout-y

);

/// Defines the layout component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The layout component's themeable properties
@mixin tokens-layout--theme ( $skin ) {

  // Capture themeable variables from skin.
  $x: map-deep-get($skin, 'x');
  $y: map-deep-get($skin, 'y');

  // Initialize a map for all layout variations.
  $source: ();

  // Initialize all breakpoints in the padding source map.
  @each $breakpoint in unique(join(map-keys($y), map-keys($x))) {

    // Initialize an entry for the breakpoint in the padding source map.
    $source: map-set($source, $breakpoint, 0 0);

  }

  // Compile y padding into the padding source map.
  @each $breakpoint, $padding in $y {

    // Get the new value for the padding map entry.
    $value: replace-nth(map-get($source, $breakpoint), 1, $padding);

    // Save the x padding value into the padding map.
    $source: map-set($source, $breakpoint, $value);

  }

  // Compile x padding into the padding source map.
  @each $breakpoint, $padding in $x {

    // Get the new value for the padding map entry.
    $value: replace-nth(map-get($source, $breakpoint), 2, $padding);

    // Save the x padding value into the padding map.
    $source: map-set($source, $breakpoint, $value);

  }

  // Defines the layout component's base styles.
  transition: padding $transition-duration $transition-timing;

  // Applies layouts across breakpoints.
  @each $breakpoint, $padding in $source {
    @include breakpoint( if(map-has-key($screens, $breakpoint), screen($breakpoint), unquote($breakpoint)) ) {
      padding: $padding;
    };
  }

}
