////
/// @group emory-libraries.patterns.templates.service-directory
////

/// Defines the base skin of the service-directory component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-service-directory: (
  
  'layout': (
    'x': $layout-x,
    'y': $layout-y
  ),
  
  'gap': 20px
  
);

/// Defines the service-directory component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The service-directory component's themeable properties
@mixin templates-service-directory--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');
  $layout: map-deep-get($skin, 'layout');

  // Defines the service-directory component's base styles.
  grid-gap: $gap;
  
  // Defines service directory header and footer styles.
  &-header,
  &-footer {
    border: $border-width-s solid color('slate'); // TEMPORARY
  }
  
  // Defines service directory header styles.
  &-header { }
  
  // Defines service directory main styles.
  &-main { }
  
  // Defines service directory footer styles.
  &-footer { }
  
}