////
/// @group emory-libraries.patterns.templates.info
////

/// Defines the base structure of the info component.
///
/// @since 1.0.0
%templates-info {

  // Captures selector.
  $selector: &;

  // Builds the info structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 135px 1fr auto;
  grid-template-columns: 100%;

  // Adjust grid layout on larger screens.
  @include breakpoint-l {
    grid-template-rows: 150px 1fr auto;
  };

  // Builds the info header structure.
  &-header {
    grid-area: header;}

  // Builds the info main structure.
  &-main {
    grid-area: main;

    // Override some main section structure.
    .section-main {
      padding-top: 0 !important;

      // Adjust the main body and sidebar section.
      &-body,
      &-sidebar {
        margin-top: ($rhythm-y * 2);
      }

      // Adjust the main body section.
      &-body {

        > *:first-child {
          margin-top: 0;
        }

      }

      // Adjust the main sidebar section.
      &-sidebar {

        > * + * {
          margin-top: $rhythm-y;
        }

      }

    }

  }

  // Builds the info footer structure.
  &-footer {
    grid-area: footer;
  }

}
