////
/// @group emory-libraries.patterns.templates.research-help
////

/// Defines the base structure of the research-help component.
///
/// @since 1.0.0-dev.0
%templates-research-help {

  // Builds the research-help structure.
  // ...

  // Captures selector.
  $selector: &;

  // Builds the material structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 150px 1fr 420px;
  grid-template-columns: 1fr;

  &-header {
    grid-area: header;
    @include absolute-center-contents;

    &::after {
      content: 'Header'; // TEMPORARY
    }

  }

  &-main {
    grid-area: main;
  }

  &-footer {
    grid-area: footer;
    @include absolute-center-contents;

    &::after {
      content: 'Footer'; // TEMPORARY
    }

  }
}
