////
/// @group emory-libraries.patterns.organisms.search-menu
////

/// Defines the base skin of the search-menu component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$organisms-search-menu: (

  'theme': 'light',
  'themes': (
    'light': (
      'context': $color-text-dark,
      'background': color('white'),
      'cancel': (
        'normal': color('blue', 'bright'),
        'hover': color('blue', 'mid'),
        'active': color('blue', 'mid')
      )
    ),
    'dark': (
      'context': $color-text-light,
      'background': color('blue','dark'),
      'cancel': (
        'normal': $color-text-light,
        'hover': color('blue', 'bright'),
        'active': color('blue', 'bright')
      )
    )
  ),

  'opacity': .9,

  'padding': (
    'x': 25px,
    'y': 10px
  ),

  'transition': (
    'duration': .5s,
    'timing': $transition-timing
  ),

  'toggles': (
    'max': 10
  )

);

/// Defines the search-menu component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The search-menu component's themeable properties
@mixin organisms-search-menu--theme ( $skin ) {

  // Capture the selector
  $selector: &;

  // Capture themeable variables from skin.
  $theme: map-deep-get($skin, 'theme');
  $themes: map-deep-get($skin, 'themes');
  $padding-x: map-deep-get($skin, 'padding.x');
  $padding-y: map-deep-get($skin, 'padding.y');
  $opacity: map-deep-get($skin, 'opacity');

  // Get transition-specific variables.
  $transition-duration: map-deep-get($skin, 'transition.duration');
  $transition-timing: map-deep-get($skin, 'transition.timing');

  // Get theme-specific variables.
  $theme-background: map-deep-get($themes, $theme + '.background');
  $theme-context: map-deep-get($themes, $theme + '.context');
  $theme-cancel: map-deep-get($themes, $theme + '.cancel');

  // Get toggle-specific variables.
  $toggles-max: map-deep-get($skin, 'toggles.max');

  // Defines the search-menu component's base styles.
  @include padding-x($padding-x);
  @include padding-y($padding-y);
  background-color: $theme-background;

  // Defines search menu context styles.
  &-context {
    @include tokens-heading('h6', $theme-context);
  }

  // Defines search menu search styles.
  &-search {

    // Override search button styles.
    .search {

      // Set cancel button states.
      &-cancel {
        @include atoms-link(('color': $theme-cancel));
      }

    }

  }

  // Defines search menu styles when used in the home page.
  &.-home {
    background-color: transparent;
    transition: background-color $transition-duration $transition-timing;

    #{$selector}-context,
    #{$selector}-tabs {
      transition: opacity $transition-duration $transition-timing;
      opacity: 0;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &.is-hover,
    &.is-focus {
      background-color: $theme-background;

      #{$selector}-context,
      #{$selector}-tabs {
        opacity: $opacity;
      }

    }

    // Override search menu background.
    .search-menu {

      &,
      &:hover,
      &:focus,
      &:focus-within,
      &.is-hover,
      &.is-focus {
        background-color: transparent !important;
        transition: none !important;
      }

    }

    // Override tab menu background.
    .tab-menu {
      background-color: transparent !important;
      transition: none !important;
    }

  }

  // Configure search menu toggles to activate tabs and search boxes.
  &-toggle {

    // Capture tab themes.
    $atoms-tab-theme-default: map-deep-get($atoms-tab, 'theme');
    $atoms-tab-themes: map-deep-get($atoms-tab, 'themes');

    // Hook toggles to tabs and search boxes.
    @for $n from 1 through $toggles-max {

      // Configure the nth toggle.
      &:nth-of-type(#{$n}) {

        // Toggle tabs and search boxes when checked.
        &:checked {

          @each $theme in map-keys($atoms-tab-themes) {

            @if( $theme == $atoms-tab-theme-default ) {
              ~ #{$selector}-tabs .tab-menu .tab:nth-of-type(#{$n}),
              ~ #{$selector}-tabs noscript .tab-menu .tab:nth-of-type(#{$n}) {
                @include atoms-tab--state--structure('active', false);
                @include atoms-tab--state('active', $selector: false);
              }
            }

            // Hide the nth tab's active state.
            ~ #{$selector}-tabs .tab-menu.-#{$theme} .tab:nth-of-type(#{$n}),
            ~ #{$selector}-tabs noscript .tab-menu.-#{$theme} .tab:nth-of-type(#{$n}) {
              @include atoms-tab--state--structure('active', false);
              @include atoms-tab--state('active', map-extend($atoms-tab, (
                'theme': $theme
              )), false);
            }

          }

          // Show the nth search box.
          ~ #{$selector}-search .search .search-form:nth-of-type(#{$n}),
          ~ #{$selector}-search noscript .search .search-form:nth-of-type(#{$n}) {
            display: grid;
          }

        }

        // Toggle tabs and search boxes when not checked.
        &:not(:checked) {

          @each $theme in map-keys($atoms-tab-themes) {

            @if( $theme == $atoms-tab-theme-default ) {
              ~ #{$selector}-tabs .tab-menu .tab:nth-of-type(#{$n}),
              ~ #{$selector}-tabs noscript .tab-menu .tab:nth-of-type(#{$n}) {
                @include atoms-tab--state--structure('normal', false);
                @include atoms-tab--state('normal', $selector: false);
              }
            }

            // Hide the nth tab's active state.
            ~ #{$selector}-tabs .tab-menu.-#{$theme} .tab:nth-of-type(#{$n}),
            ~ #{$selector}-tabs noscript .tab-menu.-#{$theme} .tab:nth-of-type(#{$n}) {
              @include atoms-tab--state--structure('normal', false);
              @include atoms-tab--state('normal', map-extend($atoms-tab, (
                'theme': $theme
              )), false);
            }

          }

          // Hide the nth search box.
          ~ #{$selector}-search .search .search-form:nth-of-type(#{$n}),
          ~ #{$selector}-search noscript .search .search-form:nth-of-type(#{$n}) {
            display: none;
          }

        }

      }

    }

  }

  // Add theme-specific style variations.
  @each $theme, $settings in $themes {

    // Get theme-specific variables.
    $theme-background: map-deep-get($settings, 'background');
    $theme-context: map-deep-get($settings, 'context');
    $theme-cancel: map-deep-get($settings, 'cancel');

    // Apply theme.
    &.-#{$theme} {
      background-color: $theme-background;

      // Adjust search menu context styles.
      #{$selector}-context {
        color: $theme-context;
      }

      // Adjust search menu search styles.
      #{$selector}-search {

        // Override search button styles.
        .search {

          // Set cancel button states.
          &-cancel {
            @include atoms-link(('color': $theme-cancel));
          }

        }

      }

      // For home search menus, hide the menu until hovered/focused.
      &.-home {
        background-color: transparent;

        &:hover,
        &:focus,
        &:focus-within,
        &.is-hover,
        &.is-focus {
          background-color: $theme-background;
        }

      }

    }

  }

}
