////
/// @group emory-libraries.patterns.compounds.tiles
////

/// Defines the base structure of the tiles component.
///
/// @since 1.0.0-dev.0
%compounds-tiles {
  // Captures selector.
  $selector: &;

  // Builds the tiles structure.
  // ...
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
