////
/// @group emory-libraries.patterns.atoms.iframe
////

/// Defines the base structure of the iframe component.
///
/// @since 1.0.0
%atoms-iframe {
  
  // Builds the iframe structure.
  border: 0;
  @include size( 100% );
  @include absolute( 0 );
  
  // Builds the iframe frame structure.
  &-frame {
    display: block;
    overflow: hidden;
  }
  
}