////
/// @group emory-libraries.patterns.organisms.main
////

/// Defines the base skin of the main component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$organisms-main: ();

/// Defines the main component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The main component's themeable properties
@mixin organisms-main--theme ($skin) {

    // Capture themeable variables from skin.
    // ...

    // Defines the main component's base styles.
    // ...
    &-sidebar {
        border: $border-width-s solid color('slate')
    }

    &.materials-page-main {
        @include breakpoint-l() {
          grid-template-areas: "title title"
                               "subtitle aside"
                               "body aside"
                               "guides guides";
          grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);

        }

    }

    &.tool-page-main {
        @include breakpoint-l() {
          grid-template-areas: "title title"
                               "subtitle aside"
                               "body aside"
                               "guides guides";
          grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);

        }

    }
}
