////
/// @group emory-libraries.patterns.organisms.main
////

/// Defines the base skin of the main component.
///
/// @since 1.0.0
///
/// @type map
$organisms-main: (

  'gap': 40px,
  
  'body': (
    'heading': (
      'h2': (
        'color': color('blue')
      )
    )
  )
  
);

/// Defines the main component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The main component's themeable properties
@mixin organisms-main--theme ($skin) {

  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');

  // Defines the main component's base styles.
  grid-column-gap: $gap;
  
  // Defines the main title styles.
  &-title { }
  
  // Defines the main subtitle styles.
  &-subtitle { }
  
  // Defines the main body styles.
  &-body {
    
    // Modifies heading styles when inside main body.
    // FIXME: If we adjust H2 styles here, we'll need to adjust subsequent headings (H3-H6) too.
    .heading {
      
      // Get heading-specific variables.
      $heading: map-deep-get($skin, 'body.heading');
      
      &.-h2 {
        @include tokens-heading('h5-alt', map-deep-get($heading, 'h2.color'));
      }
      
    }
    
  }
  
  // Defines the main sidebar styles.
  &-sidebar {
    border: $border-width-s solid color('slate'); // TEMPORARY
  }
  
}
