////
/// @group emory-libraries.patterns.templates.periodicals
////

/// Defines the base skin of the periodicals component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-periodicals: (

  'gap': 20px

);

/// Defines the periodicals component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The periodicals component's themeable properties
@mixin templates-periodicals--theme ( $skin ) {

  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');

  // Defines the periodicals component's base styles.
  grid-gap: $gap;

  // Defines periodicals header and footer styles.
  &-header,
  &-footer {}

  // Defines periodicals header styles.
  &-header { }

  // Defines periodicals main styles.
  &-main { }

  // Defines periodicals footer styles.
  &-footer { }

}
