////
/// @group emory-libraries.patterns.compounds.popular-links-menu
////

/// Defines the base skin of the popular-links-menu component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$compounds-popular-links-menu: (

  'color': $color-text-light,
  'heading': color('gold'),
  'background': color('blue', 'dark'),
  'spacing': 30px,

  'separator': (
    'thickness': $border-width-s,
    'color': color('slate','light'),
    'opacity': .2,
    'size': 20px
  )

);

/// Defines the popular-links-menu component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The popular-links-menu component's themeable properties
@mixin compounds-popular-links-menu--theme ( $skin ) {

  // Capture selector.
  $selector: &;

  // Capture themeable variables from skin.
  $color: map-deep-get($skin, 'color');
  $heading: map-deep-get($skin, 'heading');
  $background: map-deep-get($skin, 'background');
  $spacing: map-deep-get($skin, 'spacing');

  // Get separator-specific variables.
  $separator-color: map-deep-get($skin, 'separator.color');
  $separator-opacity: map-deep-get($skin, 'separator.opacity');
  $separator-size: map-deep-get($skin, 'separator.size');
  $separator-thickness: map-deep-get($skin, 'separator.thickness');

  // Defines the popular-links-menu component's base styles.
  background-color: $background;

  // Defines popular links menu title styles.
  &-title {
    @include tokens-heading--font('h6');
    @include tokens-heading--color('h6', $color: $heading);
  }

  // Defines popular links menu list styles.
  &-list {

    // Defines popular links menu list item styles.
    &-item {

      // Show separators between items on larger screens.
      @include breakpoint-l {
        margin-right: $spacing;

        // Show separators.
        &:not(:last-child)::after {
          opacity: $separator-opacity;
          height: $separator-size;
          width: $separator-thickness;
          background-color: $separator-color;
          right: -($spacing / 2);
        }

        // Remove spacing from the last child.
        &:last-child {
          margin-right: 0;
        }

      };

      // Increase spacing between items on even larger screens.
      @include breakpoint-xl {
        margin-right: $spacing * 1.5;

        // Move separators accordingly.
        &:not(:last-child)::after {
          right: -(($spacing * 1.5) / 2);
        }

      };

    }

  }

  // Add styles for popular links menu hours.
  &.-hours {

    // Adjusts popular links menu list.
    #{$selector}-list {

      // Adjusts popular links menu list items.
      &-item {
        @include tokens-text--font('accent', $custom: ('accent': ('line-height': 2.05)));
        @include tokens-text--color('accent', $color: $color);
        font-size: 20px !important;

        // Force links to use default text styles.
        .link,
        a {
          @include tokens-text--font('body', $custom: ('body': ('text-transform': uppercase)));
          @include tokens-text--color('body');
          font-size: 11px !important;
          text-decoration: underline !important;
          @include atoms-link(('color': (
            'hover': $color-actionable,
            'active': $color-actionable
          )));
        }

      }

    }

  }

}
