////
/// @group emory-libraries.patterns.organisms.intro-hero
////

/// Defines the base skin of the intro-hero component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$organisms-intro-hero: (

  'gradient-color': #282828,

  'hero-color': color('white'),

  'subtitle-size': 16px

);

/// Defines the intro-hero component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The intro-hero component's themeable properties
@mixin organisms-intro-hero--theme ( $skin ) {

  // Capture themeable variables from skin.
  // ...

  $color: map-deep-get($skin, 'hero-color');
  $subtitle: map-deep-get($skin, 'subtitle-size');
  $gradient-color: map-deep-get($skin, 'gradient-color');

  // Defines the intro-hero component's base styles.
  // ...

  // Defines the intro-hero-gradient styles.
  &-gradient {
    @include linear-gradient(0deg, $gradient-color -14.42%, rgba(40, 40, 40, 0) 50%);
  }

  // Defines the intro-hero-title styles.
  &-title {
    margin: 0;
    @include tokens-heading('h1-hero', $color, $important: true);
    text-align: center;
  }

  // Modifies styles when used for a heading intro-hero.
  &-subtitle {
      margin: 0;
      color: $color;
      font-size: $subtitle;
      text-align: center;
      line-height: 1.5;
  }
}
