////
/// @group emory-libraries.patterns.templates.bio
////

/// Defines the base skin of the bio component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-bio: (
  
  'layout': (
    'x': $layout-x,
    'y': $layout-y
  ),
  
  'gap': 20px
  
);

/// Defines the bio component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The bio component's themeable properties
@mixin templates-bio--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');
  $layout: map-deep-get($skin, 'layout');

  // Defines the bio component's base styles.
  grid-gap: $gap;
  
  // Defines bio header and footer styles.
  &-header,
  &-footer {
    border: $border-width-s solid color('slate'); // TEMPORARY
  }
  
  // Defines bio header styles.
  &-header { }
  
  // Defines bio main styles.
  &-main { }
  
  // Defines bio footer styles.
  &-footer { }
  
}