////
/// @group emory-libraries.patterns.templates.event
////

/// Defines the base skin of the event component.
///
/// @since 1.0.0-dev.3
///
/// @type map
$templates-event: (
  
  'layout': (
    'x': $layout-x,
    'y': $layout-y
  ),
  
  'gap': 20px
  
);

/// Defines the event component theme.
///
/// @since 1.0.0-dev.3
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The event component's themeable properties
@mixin templates-event--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');
  $layout: map-deep-get($skin, 'layout');
  
  // Defines the event component's base styles.
  grid-gap: $gap;

  // Defines event header and footer styles.
  &-header,
  &-footer {
    border: $border-width-s solid color('slate'); // TEMPORARY
  }
  
  // Defines event header styles.
  &-header { }
  
  // Defines event main styles.
  &-main {

    .intro-interior-cover-title {

      font-size: 40px;

      @include breakpoint-m-l-xl() {
        font-size: 74px;
      }

    }

  }
  
  // Defines event footer styles.
  &-footer { }
    
}