////
/// @group emory-libraries.patterns.organisms.intro-home
////

/// Defines the base skin of the intro-home component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$organisms-intro-home: (
  
  'gradient-color': color('blue','dark'),
  'search': (
    'background-color': color('blue','dark'),
    'opacity': .9,
    'border-color': rgba(231, 234, 241, .2),
    'option-color': color('slate','light'),
    'active-color': color('gold')
    ),
  'hero-color': color('white')  
);

/// Defines the intro-home component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The intro-home component's themeable properties
@mixin organisms-intro-home--theme ( $skin ) {

  // Capture selector.
  $selector: &;

  // Capture themeable variables from skin.
  $color: map-deep-get($skin, 'hero-color');
  $gradient-color: map-deep-get($skin, 'gradient-color');
  $search-background: map-deep-get($skin, 'search.background-color');
  $border-color: map-deep-get($skin, 'search.border-color');
  $border: $border-width-s solid $border-color;
  $search-options-color: map-deep-get($skin, 'search.option-color');
  $active-color: map-deep-get($skin, 'search.active-color');

  // Defines the intro-home component's base styles.
  &-gradient {
    @include linear-gradient(0deg, $gradient-color -4.85%, rgba(9, 28, 68, 0) 51.12%);
  }

  &-title {
    margin: 0;
    text-align: center;
    text-decoration: none;

    h1 {
      @include tokens-heading('h2', $color, $important: true);

    }

  }

  &-search {

    background: transparent;
    transition: $transition-all;

    &:focus-within,
    &:focus,
    &:hover,
    &:active {
      background-color: $search-background;
      opacity: .9;
      transition: $transition-all;
    }

    .search-menu.-dark.-home {

      &:hover,
      &:focus,
      &.is-hover,
      &.is-focus {
        background: transparent;
      }

    }

    .tab-menu.-dark:not(.-dropdown) {
      background: transparent;
    }

  }

}