////
/// @group emory-libraries.patterns.organisms.intro-home
////

/// Defines the base structure of the intro-home component.
///
/// @since 1.0.0-dev.0
%organisms-intro-home {
  
  // Captures the selector.
  $selector: &;

  // Builds the intro-home structure.
  // ...
  display: grid;
  grid-template-rows: 180px min-content 6fr repeat(2, min-content) 1fr;
  grid-template-columns: 1fr 2fr minmax(min-content, 800px) 2fr 1fr;
  background-size: cover;
  height: 845px;

  &-image {
    grid-row: 1/-1;
    grid-column: 1/-1;
    background-size: cover;
    background-position: center center;
  }

  &-gradient {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }


  &-search {
    grid-row: 1;
    grid-column: 1/-1;
    align-self: stretch;
    margin: 0 !important;
    padding-top: .5em;
    padding-left: 6em;
    padding-right: 6em;

    .search-menu.-home {
      padding-top: 0;
    }

  }

  &-badge{
    grid-row: 4;
    grid-column: 3;
    align-self: center;
    margin: 0 auto !important;
  }

  &-title {
    grid-row: 5;
    grid-column: 3;
    align-self: center;
    margin: 0 auto !important;
  }
 
}