////
/// @group emory-libraries.patterns.compounds.nav-menu-utility
////

/// Defines the base skin of the nav-menu-utility component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$compounds-nav-menu-utility: (
  
  'separator': (
    'color': rgba(color('blue','dark'), .2),
    'thickness': $border-width-s
  )

);

/// Defines the nav-menu-utility component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The nav-menu-utility component's themeable properties
@mixin compounds-nav-menu-utility--theme ( $skin ) {
  
  // Capture the selector.
  $selector: &;

  // Capture themeable variables from skin.
  // ...
  
  // Capture separator-specific variables.
  $separator-color: map-deep-get($skin, 'separator.color');
  $separator-thickness: map-deep-get($skin, 'separator.thickness');

  // Defines the nav-menu-utility component's base styles.
  // ...
  
  // Defines the menu's desktop styles.
  &.-desktop {

    #{$selector}-left {

      > * + * {

        &::before {
          height: 12px;
          width: $separator-thickness;
          background-color: $separator-color;
        }

      }

    }

  }

  // Defines the menu's mobile styles.
  &.-mobile {

    #{$selector}-right {

      > * + * {

        &::before {
          height: 50%;
          width: $separator-thickness;
          background-color: $separator-color;
        }

      }

    }

  }

}