////
/// @group emory-libraries.patterns.compounds.nav-menu-utility
////

/// Defines the base skin of the nav-menu-utility component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$compounds-nav-menu-utility: (
  'border-color': color('blue','dark'),

);

/// Defines the nav-menu-utility component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The nav-menu-utility component's themeable properties
@mixin compounds-nav-menu-utility--theme ( $skin ) {

  // Capture themeable variables from skin.

  $border-color: map-deep-get($skin, 'border-color');


  // Defines the nav-menu-utility component's base styles.

  &.-desktop {

    .utility-left {

      li {

        &:not(:last-child) {

          &:after {
            content: "";
            opacity: 0.1;
            border-left: 1px solid $border-color;
            height: 30px;
            margin: auto;

          }

        }

      }

    }

  }

  &.-mobile {

    .utility-right {

      li {

        &:not(:last-child) {

          &:after {
            content: "";
            opacity: 0.1;
            border-left: 1px solid $border-color;
            height: 30px;
            margin: auto;

          }

        }

      }

    }

    .nav-button.-librarian {
      text-decoration: none;
    }

  }

}