////
/// @group emory-libraries.patterns.compounds.subnav-menu-main
////

/// Defines the base skin of the subnav-menu-main component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$compounds-subnav-menu-main: (

  'background': color('blue', 'dark'),

  'heading': (
    'color': color('gold'),
    'spacing': ($rhythm-y / 4),
    'padding': (
      'x': (
        's': 10px,
        'm': 25px,
        'l': 25px
      ),
      'y': ($rhythm-y / 2)
    )
  ),

);

/// Defines the subnav-menu-main component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The subnav-menu-main component's themeable properties
@mixin compounds-subnav-menu-main--theme ( $skin ) {

  // Capture themeable variables from skin.
  $background: map-deep-get($skin, 'background');

  // Get heading-specific variables.
  $heading-color: map-deep-get($skin, 'heading.color');
  $heading-spacing: map-deep-get($skin, 'heading.spacing');
  $heading-padding-y: map-deep-get($skin, 'heading.padding.y');
  $heading-padding-x: map-deep-get($skin, 'heading.padding.x');

  // Defines the subnav-menu-main component's base styles.
  background-color: $background;

  // Defines the subnav menu main heading styles.
  &-heading { 
    @include tokens-heading--font('h6');
    @include tokens-heading--color('h6', $color: $heading-color);
    @include padding-y( $heading-padding-y );
    @include margin-y( $heading-spacing );
    background-color: $background;

    @each $breakpoint, $padding in $heading-padding-x {
      @include breakpoint( screen($breakpoint) ) {
        @include padding-x($padding);
      };
    }

  }

}
