////
/// @group emory-libraries.patterns.atoms.map
////

/// Defines the base structure of the map component.
///
/// @since 1.0.0
%atoms-map {
  
  // Builds the map structure.
  border: 0;
  @include size( 100% );
  @include absolute( 0 );
  
  // Builds the video frame structure.
  &-frame {
    display: block;
    overflow: hidden;
  }
  
}