////
/// @group emory-libraries.patterns.atoms.nav-button
////

/// Defines the base structure of the nav-button component.
///
/// @since 1.0.0
%atoms-nav-button {
  
  // Builds the nav-button structure.
  @extend %atoms-button;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  
  // Adds breakpoint-specific structure changes.
  @include breakpoint-m-l {
    display: inline-flex;
    justify-content: center;
    width: auto;
  };
  
  // Modifies main and utility button structure.
  &:not(.-utility):not(.-flyout):not(.-search):not(.-toggle):not(.-librarian),
  &.-main {
    height: 60px;
    
    @include breakpoint-m-l {
      height: 90px;
    };
    
  }
  
  // Modifies toggle button structure
  &.-toggle {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    width: auto;
    
    @include breakpoint-m-l {
      display: none;
    };
    
  }
  
  // Sets search button structure.
  &.-search {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    
    @include breakpoint-m-l {
      margin-left: 0;
      height: 90px;
    };
    
  }
  
  // Sets utility button structure.
  &.-utility {
    height: 60px;
    
    @include breakpoint-m-l {
      height: 40px;
      flex-direction: row;
    };
    
  }
  
  // Sets flyout button structure.
  &.-flyout {
    height: 70;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
    @include breakpoint-m-l {
      height: 40px;
      flex-direction: row;
    };
    
  }
  
   // Sets librarian button structure.
  &.-librarian {
    height: 45px;
    justify-content: center;
    
    @include breakpoint-m-l {
      height: 40px;
      flex-direction: row;
    };
    
  }
  
}