////
/// @group emory-libraries.config
////

/// Sets layout max-width accross all breakpoints.
///
/// @since 1.0.0
///
/// @requires {variable} screens
///
/// @type map
$layout-max-width: 1250px;


/// Sets layout spacing accross breakpoint.
///
/// @since 1.0.0
///
/// @requires {variable} screens
///
/// @type map
$layout-y: (
  's': 30px,
  'm': 30px,
  'l': 40px,
  'xl': 40px,
  '#{$layout-max-width + 40px}': 40px
) !default;

/// Sets the minimum vertical layout spacing.
///
/// @since 1.0.0
///
/// @type number
$layout-y-min: map-get($layout-y, 's') !default;


/// Sets the maximum vertical layout spacing.
///
/// @since 1.0.0
///
/// @type number
$layout-y-max: map-get($layout-y, 'xl') !default;

/// Sets layout spacing accross breakpoint.
///
/// @since 1.0.0
///
/// @requires {variable} screens
///
/// @type map
$layout-x: (
  's': 20px,
  'm': 20px,
  'l': 40px,
  'xl': 40px,
  '#{$layout-max-width + 40px}': calc((100vw - #{$layout-max-width}) / 2)
) !default;

/// Sets the minimum horizontal layout spacing.
///
/// @since 1.0.0
///
/// @type number
$layout-x-min: map-get($layout-x, 's') !default;


/// Sets the maximum horizontal layout spacing.
///
/// @since 1.0.0
///
/// @type number
$layout-x-max: map-get($layout-x, 'xl') !default;
