////
/// @group emory-libraries.patterns.templates.research-help-directory
////

/// Defines the base skin of the research-help-directory component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-research-help-directory: (

  'gap': 20px

);

/// Defines the research-help-directory component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The research-help-directory component's themeable properties
@mixin templates-research-help-directory--theme ( $skin ) {

  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');

  // Defines the research-help-directory component's base styles.
  grid-gap: $gap;

  // Defines research help directory header and footer styles.
  &-header,
  &-footer {}

  // Defines research help directory header styles.
  &-header { }

  // Defines research help directory main styles.
  &-main { }

  // Defines research help directory footer styles.
  &-footer { }

}
