////
/// @group emory-libraries.patterns.templates.research-help-directory
////

/// Defines the base structure of the research-help-directory component.
///
/// @since 1.0.0-dev.0
%templates-research-help-directory {

  // Builds the research-help-directory structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 135px 1fr auto;
  grid-template-columns: 100%;

  // Adjust grid layout on larger screens.
  @include breakpoint-l {
    grid-template-rows: 150px 1fr auto;
  };

  // Adjust grid layout on even larger screens.
  @include breakpoint-xl {
    grid-template-rows: 130px 1fr auto;
  };

  // Builds the research help directory header structure.
  &-header {
    grid-area: header;
  }

  // Builds the research help directory main structure.
  &-main {
    grid-area: main;
  }

  // Builds the research help directory footer structure.
  &-footer {
    grid-area: footer;
  }

}
