////
/// @group emory-libraries.patterns.organisms.intro-interior-cover
////

/// Defines the base structure of the intro-interior-cover component.
///
/// @since 1.0.0-dev.0
%organisms-intro-interior-cover {
  
  // Builds the intro-interior-cover structure.
  display: block;
  
  &-title {
    grid-row: 1;
    margin-bottom: 0;
  }

  &-subtitle {
    grid-row: 2;
    
    &:not(.-date) {
      margin-top: 0;
    }
    
  }

  &-image {
    @include margin-y($rhythm-y);
    grid-row: 3;
    overflow: hidden;
    @include absolute-center-contents;
    
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      flex-shrink: 0;
    }
    
  }

  
}