////
/// @group emory-libraries.patterns.atoms.copyright
////

/// Defines the base skin of the copyright component.
///
/// @since 1.0.0
///
/// @type map
$atoms-copyright: (
  
  'spacing': 25px,
  'padding': 20px,
  'size': (
    'min': 12px,
    'max': 13px
  ),
  'color': (
    'normal': color('blue', 'light'),
    'hover': color('blue', 'bright'),
    'active': color('blue', 'light')
  ),
  'font': (
    'font-family': font('body'),
    'font-style': normal,
    'font-weight': normal,
    'line-height': 1.7692
  ),
  'divider': "|"
  
);

/// Defines the copyright component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The copyright component's themeable properties
@mixin atoms-copyright--theme ( $skin ) {
  
  // Get selector.
  $selector: &;
  
  // Set breakpoints.
  $breakpoint-m: 799px 601px;
  $breakpoint-l: min-width 800px;
  
  // Capture themeable variables from skin.
  $spacing: map-deep-get($skin, 'spacing');
  $padding: map-deep-get($skin, 'padding');
  $normal: map-deep-get($skin, 'color.normal');
  $hover: map-deep-get($skin, 'color.hover');
  $active: map-deep-get($skin, 'color.active');
  $font: map-deep-get($skin, 'font');
  $size: map-deep-get($skin, 'size');
  $divider: map-deep-get($skin, 'divider');
  
  // Get the font size scale.
  $scale: numeric-scale(map-get($size, 'min'), map-get($size, 'max'), 3, true);
  
  // Defines the copyright component's base styles.
  @include margin-y($spacing);
  color: $normal;
  @include expand-properties($font);
  font-size: nth($scale, 1);
  
  // Set font size for larger screens.
  @include breakpoint( $breakpoint-m ) {
    font-size: nth($scale, 2);
  };
  @include breakpoint( $breakpoint-l ) {
    font-size: nth($scale, 3);
  };
  
  // Define styles for copyright containers.
  &-notice,
  &-address,
  &-phone {
    @include padding-x( $padding );
    text-align: center;
    
    // Add a divider between copyright containers.
    + #{$selector}-notice,
    + #{$selector}-address,
    + #{$selector}-phone {
      
      // Only add a divider to the last child for medium screens.
      @include breakpoint( $breakpoint-m ) {
        &:last-child::before {
          content: $divider;
        }
      };
      
      // Add a divider to all on large screens.
      @include breakpoint( $breakpoint-l ) {
         &::before {
          content: $divider;
        }
      };
      
    }

    // Adjust padding on medium screens.
    @include breakpoint( $breakpoint-m ) {

      // Remove padding from first child.
      &:first-child {
        @include padding-x( 0 );
      }
      
      // Remove padding from second child.
      &:nth-child(2) {
        padding-left: 0;
      }

      // Remove padding from last child.
      &:last-child {
        padding-right: 0;
      }
      
    };

    // Adjust padding on large screens.
    @include breakpoint( $breakpoint-l ) {

      // Remove padding from first child.
      &:first-child {
        padding-left: 0;
      }

      // Remove padding from last child.
      &:last-child {
        padding-right: 0;
      }
      
    };
    
  }
  
  // Define styles for copyright notice.
  &-notice {
  
    // Define styles for copyright policies.
    #{$selector}-policies {

      // Set styles for copyright policy links.
      #{$selector}-policy {
        color: inherit;
        margin-left: ($padding / 2);

        &,
        &:hover,
        &:focus,
        &:active,
        &.is-hover,
        &.is-focus,
        &.is-active {
          font-weight: inherit;
          text-decoration: underline;
        }

        &:hover,
        &:focus,
        &.is-hover,
        &.is-focus {
          color: $hover;
        }

        &:active,
        &.is-active {
          color: $active;
        }

      }

    }
  
  }

  // Defines styles for copyright phone.
  &-phone {
    font-weight: bold;
  }

}