////
/// @group emory-libraries.patterns.atoms.copyright
////

/// Defines the base structure of the copyright component.
///
/// @since 1.0.0
%atoms-copyright {
  
  // Get the selector.
  $selector: &;
  
  // Set breakpoints.
  $breakpoint-m: 799px 601px;
  $breakpoint-l: min-width 800px;
  
  // Builds the copyright structure.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  // Modifies structure for medium screens.
  @include breakpoint( $breakpoint-m ) {
    flex-direction: row;
    flex-wrap: wrap;
  };
  
  // Modifies structure for large screens.
  @include breakpoint( $breakpoint-l ) {
    flex-direction: row;
    flex-wrap: nowrap;
  };
  
  // Builds copyright container structure.
  &-notice,
  &-address,
  &-phone {
    
    // Add a divider between copyright containers.
    + #{$selector}-notice::before,
    + #{$selector}-address::before,
    + #{$selector}-phone::before {
      display: block;
      @include absolute-center-within-container-y;
      left: 0;
    }
    
  }
  
  // Builds copyright notice structure.
  &-notice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
    // Modifies structure for medium screens.
    @include breakpoint( $breakpoint-m ) {
      flex-basis: 100%;
    };

    // Modifies structure for large screens.
    @include breakpoint( $breakpoint-l ) {
      flex-basis: unset;
    };
    
    // Modifies structure for medium and large screens.
    @include breakpoints( $breakpoint-m, $breakpoint-l ) {
      display: block;
    };
    
    // Builds copyright notice containers structure.
    #{$selector}-signature {
      flex-basis: 100%;
      
      // Modifies structure for medium and large screens.
      @include breakpoints( $breakpoint-m, $breakpoint-l ) {
        flex-basis: unset;
      };
      
      // Builds copyright year structure.
      #{$selector}-year {}

      // Builds copyright owner structure.
      #{$selector}-owner {}

    }

    // Builds copyright rights structure.
    #{$selector}-rights {
      
      // Modifies strcture for medium and large screens.
      @include breakpoints( $breakpoint-m, $breakpoint-l ) {
        &::before {
          content: " - ";
        }
      };
      
    }
    
    // Builds copyright policies structure.
    #{$selector}-policies {
      
      // Builds copyright policy structure.
      #{$selector}-policy {}

    }
    
  }
  
  // Builds copyright address structure.
  &-address {
    grid-area: address;
  }
  
  // Builds copyright phone structure.
  &-phone {
    grid-area: phone;
  }
  
}