////
/// @group emory-libraries.core
////


/// Normalizes all project styles.
///
/// @since 1.0.0
///
/// @requires {mixin} Brandy::normalize
@include normalize();


/// Initializes core body styles.
body {
  margin: 0 auto;
  font-size: $font-size;
  color: $color-text-dark;
}


/// Resets the positioning and box model for all elements.
* {
  position: relative;
  box-sizing: border-box;
}