////
/// @group emory-libraries.core
////


/// Normalizes all project styles.
///
/// @since 1.0.0
///
/// @requires {mixin} Brandy::normalize
@include normalize();


/// Initializes core body styles.
body {
  margin: 0 auto;
  font-family: font('body');
  font-size: $font-size * map-deep-get($fonts-scale, 'body');
  color: $color-text-dark;
  line-height: $font-line-height;
}


/// Resets the positioning and box model for all elements.
* {
  position: relative;
  box-sizing: border-box;
}

// Reset button appearance.
#{$all-buttons} {
  appearance: none;
  padding: 0;
}