////
/// @group emory-libraries.patterns.compounds.related
////

/// Defines the base skin of the related component.
///
/// @since 1.0.0
///
/// @type map
$compounds-related: (
  
  'title': color('blue'),
  
  'spacing': ($rhythm-y * 2),
  
  'divider': (
    'thickness': $border-width-s,
    'color': rgba(color('slate', 'light'), .5)
  )
  
);

/// Defines the related component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The related-cards component's themeable properties
@mixin compounds-related--theme ( $skin ) {
  
  // Capture themeable variables from skin.
  $title: map-deep-get($skin, 'title');
  $spacing: map-deep-get($skin, 'spacing');
  
  // Get divider specific variables.
  $divider-thickness: map-deep-get($skin, 'divider.thickness');
  $divider-color: map-deep-get($skin, 'divider.color');
  
  // Defines the related component's base styles.
  @include margin-y($spacing / 2);
  @include padding-y($spacing / 2);
  border-top: $divider-thickness solid $divider-color;

  // Defines the related title styles.
  &-title { 
    @include tokens-heading('h6', $title);
  }
  
  // Defines the related content styles.
  &-content { }
  
}