////
/// @group emory-libraries.patterns.templates.exhibition
////

/// Defines the base skin of the exhibition component.
///
/// @since 1.0.0-dev.0
///
/// @type map
$templates-exhibition: (

  'divider': (
    'thickness': 1px,
    'color': color('slate', 'light')
  ),

  'date': color('blue'),

  'sidenote': (
    'heading': color('blue')
  )

);

/// Defines the exhibition component theme.
///
/// @since 1.0.0-dev.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The exhibition component's themeable properties
@mixin templates-exhibition--theme ( $skin ) {

  // Capture themeable variables from skin.
  $gap: map-deep-get($skin, 'gap');
  $date: map-deep-get($skin, 'date');

  // Get divider-specific variables.
  $divider-thickness: map-deep-get($skin, 'divider.thickness');
  $divider-color: map-deep-get($skin, 'divider.color');

  // Get sidenote-specific variables.
  $sidenote-heading: map-deep-get($skin, 'sidenote.heading');

  // Defines the exhibition component's base styles.
  // ...

  // Defines exhibition header and footer styles.
  &-header,
  &-footer {}

  // Defines exhibition header styles.
  &-header { }

  // Defines exhibition main styles.
  &-main {

    // Defines styles for main context.
    &-context {
      @include tokens-heading('h6', $custom: ('h6': (
        'font-size': 12px
      )));
      text-align: center;
    }

    // Defines styles for main quote.
    &-quote {
      @include tokens-text('blockquote');
    }

    // Defines styles for main date.
    &-date {
      @include tokens-heading('h4', $date);
    }

    // Defines styles for main sidenote.
    &-sidenote {

      // Add heading styles.
      &-heading {
        @include tokens-heading('h6', $sidenote-heading);
      }

      // Add content styles.
      &-content { }

      // Add link styles.
      &-link {
        @include atoms-link;
      }

    }

    // Defines styles for main divider.
    &-divider {

      &::after {
        width: $divider-thickness;
        background-color: $divider-color;
      }

    }

  }

  // Defines exhibition footer styles.
  &-footer { }

}
