////
/// @group emory-libraries.patterns.templates.exhibition
////

/// Defines the base structure of the exhibition component.
///
/// @since 1.0.0-dev.0
%templates-exhibition {

  // Captures selector.
  $selector: &;

  // Builds the exhibition structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 135px 1fr auto;
  grid-template-columns: 100%;

  // Adjust grid layout on larger screens.
  @include breakpoint-l {
    grid-template-rows: 150px 1fr auto;
  };

  // Adjust grid layout on even larger screens.
  @include breakpoint-xl {
    grid-template-rows: 130px 1fr auto;
  };

  // Builds the exhibition header structure.
  &-header {
    grid-area: header;
  }

  // Builds the exhibition main structure.
  &-main {
    grid-area: main;

    // Builds the structure for main parts.
    &-context,
    &-quote,
    &-date,
    &-sidenote {
      display: block;
    }

    // Builds the structure for main context.
    &-context {
      margin-top: ($rhythm-y * 2);
      margin-bottom: $rhythm-y;
    }

    // Builds the structure for main quote.
    &-quote {
      margin-top: 0;
    }

    // Builds the structure for main date.
    &-date { }

    // Builds the structure for main sidenote.
    &-sidenote {
      display: block;
      @include margin-y($rhythm-y);

      // Set heading, content, and link structure.
      &-heading,
      &-content,
      &-link {
        display: block;
      }

      // Set heading structure.
      &-heading {
        margin-top: 0;
        margin-bottom: $rhythm-y / 2;
      }

      // Set content structure.
      &-content {
        margin: 0;
      }

      // Set link structure.
      &-link { }

    }

    // Builds the structure for main divider.
    &-divider {
      display: none;

      @include breakpoint-l {
        @include absolute-center-contents;
        grid-column: divider;
        grid-row: body;

        &::after {
          content: '';
          display: block;
          height: calc(100% - #{$rhythm-y * 2});
        }

      };

    }

    // Override some main section structure.
    .section-main {
      padding-top: 0 !important;

      // Adjust the main body and sidebar section.
      &-body,
      &-sidebar {

        // Override the first paragraph's top spacing.
        > *:first-child {
          margin-top: 0;
        }

      }

    }

  }

  // Builds the exhibition footer structure.
  &-footer {
    grid-area: footer;
  }

}
