////
/// @group emory-libraries.patterns.atoms.list
////

/// Defines the base structure of the list component.
///
/// @since 1.0.0
%atoms-list {

  // Capture the selector.
  $selector: &;

  // Builds the list structure.
  @include margin-x( 0 );
  @include padding-x( 0 );
  list-style-type: none;

  // Adds structure for list items.
  &-item { }

  // Builds structure for bulleted lists.
  &:not(.-numbered):not(.-links):not(.-topics):not(.-files),
  &.-bulleted {

    // Modifies structure of bulleted list items.
    #{$selector}-item {
      display: block;

      // Modifies structure of bulleted list item markers.
      &::before {
        position: absolute;
        display: block;
        top: 0;
      }

      // Handle structure of descendents.

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }

    }

  }

  // Builds structure for numbered lists.
  &.-numbered {

    // Modifies structure of numbered list items.
    #{$selector}-item {
      display: block;

      // Modifies structure of numbered list item markers.
      &::before {
        position: absolute;
        display: block;
        top: 0;
      }

      // Handle structure of descendents.

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }

    }

  }

  // Builds structure for link lists.
  &.-links {

    // Modifies structure of link list items.
    #{$selector}-item {
      display: block;
    }

  }

  // Builds structure for topic lists.
  &.-topics {

    // Modifies structure of link list items.
    #{$selector}-item {
      display: inline-block;
      margin-right: .5ex;
    }

  }

  // Builds structure for file lists.
  &.-files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // Modifies structure of file list items.
    #{$selector}-item {
      display: block;
    }

    .link {
      align-items: flex-start;
    }
  }

  // Buidls structure for list title.
  &-title {}

}
