////
/// @group emory-libraries.patterns.molecules.feed-item
////

/// Defines the base skin of the feed-item component.
///
/// @since 1.0.0
///
/// @type map
$molecules-feed-item: (

  'title': (
    'normal': $color-text-dark,
    'hover': $color-actionable,
    'active': $color-actionable
  ),
  'date': color('blue'),
  'gap': 5px

);

/// Defines the feed-item component theme.
///
/// @since 1.0.0
///
/// @requires {function} Brandy::map-deep-get <https://laurenhamel.github.io/brandy/docs/#brandy-maps-function-map-deep-get>
///
/// @param {map} skin - The component's skin
///
/// @output The feed-item component's themeable properties
@mixin molecules-feed-item--theme ( $skin ) {

  // Capture themeable variables from skin.
  $title: map-deep-get($skin, 'title');
  $date: map-deep-get($skin, 'date');
  $gap: map-deep-get($skin, 'gap');

  // Defines the feed-item component's base styles.
  grid-gap: $gap;

  // Defines the feed item styles without signup.
  &:not(.has-action) { }

  // Defines the feed item styles with signup.
  &.has-action { }

  // Defines feed item date styles.
  &-date {
    @include tokens-heading--font('h6');
    @include tokens-heading--color('h6', $color: $date);
  }

  // Defines feed item title styles.
  &-title {
    @include atoms-link((color: $title));
    @include tokens-text--font('listing', $important: true);
    @include tokens-text--color('listing', $color: map-get($title, 'normal'));
  }

  // Defines feed item action styles.
  &-action {
    width: max-content;
    @include atoms-button((
      size: 40px !important,
      padding: 15px
    ));

    // Adjust size on larger screens.
    @include breakpoint-m-l {
      width: auto;
    };

  }

}
