////
/// @group emory-libraries.patterns.templates.landing
////

/// Defines the base structure of the landing component.
///
/// @since 1.0.0-dev.0
%templates-landing {

  // Builds the landing structure.
  // ...

  // Captures selector.
  $selector: &;

  // Builds the landing structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 150px 1fr 420px;
  grid-template-columns: 1fr;

  &-header {
    grid-area: header;
    @include absolute-center-contents;

    &::after {
      content: 'Header'; // TEMPORARY
    }

  }

  &-main {
    grid-area: main;

    .section-main-body {
      margin-bottom: 68px;
    }

    .section-main-body,
    .section-major-body,
    .breadcrumbs {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

    .breadcrumbs {
      height: 88px;
      align-items: center;
    }

  &-footer {
    grid-area: footer;
    @include absolute-center-contents;

    &::after {
      content: 'Footer'; // TEMPORARY
    }

  }
}