////
/// @group emory-libraries.patterns.templates.staff-directory
////

/// Defines the base structure of the staff-directory component.
///
/// @since 1.0.0-dev.0
%templates-staff-directory {

  // Builds the staff-directory structure.
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
/*
  // Adjust grid layout on larger screens.
  @include breakpoint-l {
    grid-template-rows: 150px 1fr auto;
  };

  // Adjust grid layout on even larger screens.
  @include breakpoint-xl {
    grid-template-rows: 130px 1fr auto;
  };
*/
  // Builds the staff directory header structure.
  &-header {
    grid-area: header;
    @include absolute-center-contents;
  }

  // Builds the staff directory main structure.
  &-main {
    grid-area: main;
  }

  // Builds the staff directory footer structure.
  &-footer {
    grid-area: footer;
    @include absolute-center-contents;
  }

}
